.instagram-btn {
    display: flex;
    padding: 10px;
    align-items: center;
    outline: none;
    border: none;
    font-size: 30px;
    color: $color-2;
    cursor: pointer;
}

.instagram-btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    color: grey;
}

@media screen and (max-width: 950px) {
    .instagram-btn {
      position: absolute;
      top: 0px;
      right: 85%;
    }

    .instagram-btn:hover {
        padding: 6px 18px;
        transition: padding 50s ease-out;
        color: grey;
    }
}
