.app-cursor {
  z-index: 5000;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid $color-2;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
