

.main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url("../../assets/img/now\ or\ never_1.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 650px){
    background-image: url("../../assets/img/now\ or\ never_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  
  }
}

.about-main {
    width: auto;
    height: 95%;
    overflow: hidden;

    .about {
      background-color: rgb(214, 123, 4);
        margin: 0;
        display: flex;
        flex: 1;
        width: 50%;
        justify-content: center;
        text-align: center;
        align-items: center;

        @media screen and (max-width: 650px){
            padding: 50%;
        }
        
    
        h1 {
            top: 10%;
            position: absolute;
            text-align: center;
            justify-content: center;
            color: white;
            align-items: center;

        }
    
        p {
            position: absolute;
            top: 18%;
            color: white;
            text-align: center;
            justify-content: center;
            padding: 0 5%;
            align-items: center;
        }
    }
}
