* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sb-main {
   
  @media screen and (max-width: 650px){
    display: none;

  }
}

.page_about {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/now\ or\ never_1.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 650px){

    .container {
      width: 100vw;
      height: 100vh;
    }

    background-image: url("../../assets/img/now\ or\ never_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    justify-content: center;
  }
}

.container {
  float: left;
  width: 50%;
  height: 100vh;
  margin: 0;
}

.title_about {
  color: $color-2;
  margin-top: 5%;
  letter-spacing: 3px;
  text-align: center;
  font-family: "font-2", serif;
}

.fonction {
  color: $color-2;
  margin-top: 5%;
  letter-spacing: 3px;
  text-align: center;
  font-family: "font-2", serif;
}


.description {
  margin-top: 5%;
  text-align: center;
  font-family: "font-2", serif;
  color: $color-2;
  padding: 0 5%;
}