

.main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url("../../assets/img/now\ or\ never_1.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (max-width: 650px){
    background-image: url("../../assets/img/now\ or\ never_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  
  }
}

.about-main {
    width: auto;
    height: 95%;
    overflow: hidden;
    display: flex;

    .about {
      background-color: rgb(43, 226, 83);
        margin: 0;
        padding: 0;
        display: flex;
        left: 5%;
        width: 50%;
        height: 100%;
        justify-content: center;
        text-align: center;

        @media screen and (max-width: 650px){
          padding: 0 50%;
        }
        
    
        h1 {
            top: 10%;
            position: absolute;
            text-align: center;
            justify-content: center;
            color: white;

        }
    
        p {
            position: absolute;
            top: 18%;
            color: white;
            padding: 0 1px;
        }
    }
}
