.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/now\ or\ never_1.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;

  @media screen and (max-width: 650px){
    background-image: url("../../assets/img/now\ or\ never_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(17, 17, 17, 0.616);

    .contact-main {
      background-color: rgba(17, 17, 17, 0.616);
    }

    .content {
      display: none;
    }

  }

  .sb-main {
   
    @media screen and (max-width: 650px){
      display: none;

    }
  }

  .contact-main {
    width: 100vw;
    height: 100vh;
    //background:#1d242470;
    overflow-y: hidden;
  }
  
    .navigation {
      @media screen and (max-width: 440px){
       display: none;
      }
    }
    .logo {
      top: 8px;
      right: 1rem;
    }
  
    .contact-form {
      margin: 5% 0 0 10%;
      max-width: 50%;
      position: relative;
      max-width: 400px;

      @media screen and (max-width: 650px){
        
        width: 100vw;
        height: 100vh;
      }
  
      
      h2 {
        margin-bottom: 20px;
        color: $color-2;
      }
  
      .form-content {
        display: grid;
        grid-template-rows: repeat(4, 1fr) 150px;
  
        input,
        textarea {
          background: none;
          font-family: $font-1;
          font-size: 1.2rem;
          border-bottom: 1px solid $color-2;
          color: $color-2;
  
          @media screen and (min-width: 1200px){
            font-size: 1.5rem;
          }
        }
        input {
          padding: 34px 0 22px;
          width: 100%;
  
          @media screen and (max-width: 540px){
            width: 75%;
          }
        }
        .email-content {
          position: relative;
          width: 100%;
          border-bottom: 1px solid $color-2;
  
          @media screen and (max-width: 540px){
            width: 75%;
          }
  
          #not-mail {
            display: none;
            position: absolute;
            top: 8px;
            color: $red;
            right: 0;
            transform-origin: 50% 50%;
          }
          @keyframes dongle {
            0% {
              transform: translate(0px, 0px);
            }
            10% {
              transform: translate(-10px, 0px);
            }
            20% {
              transform: translate(10px, 0px);
            }
            30% {
              transform: translate(-10px, 0px);
            }
            40% {
              transform: translate(10px, 0px);
            }
            50% {
              transform: translate(-10px, 0px);
            }
            60% {
              transform: translate(10px, 0px);
            }
            70% {
              transform: translate(-10px, 0px);
            }
            80% {
              transform: translate(10px, 0px);
            }
            90% {
              transform: translate(-10px, 0px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }
          input {
            border: none;
          }
        }
        textarea {
          resize: none;
          padding: 34px 0;
  
          @media screen and (max-width: 540px){
            width: 75%;
            padding: 12px 0;
          }
        }
      }
      .error::placeholder {
        color: $red;
      }
      .form-message {
        margin-top: 10px;
        padding: 12px;
        opacity: 0;
        background:red;
        transition: 0.3s ease;
        color: white;
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-2;
        background: none;
        border: solid 2px $color-2;

        @media screen and (max-width: 410px){
          width: 100px;
          font-size: .85rem;
        }

        &:hover {
          background: rgba(73, 73, 73, 0.637);
          transition-duration: 0.8s;
        }
      }
    }
    .contact-infos {
      position: absolute;
      bottom: 0;
      left: 72%;
      display: grid;
      grid-template-rows: repeat(2, 23%) 12%;
      height: 70%;
      width: 30%;
      max-width: 500px;
  
      @media screen and (max-width: 740px){
        height: 200px;
        width: 100%;
        max-width: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
          'a b c'
          'd d d'
          'e e f';
      }
      @media screen and (max-width: 540px){
        grid-template-rows: repeat(3, 60px);
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
          'b b b c c c'
          'd d d d d d'
          'e e e e f f';
      }
      @media screen and (max-height: 500px){
        display: none;
      }
      @media screen and (min-width: 1200px){
        width: 35%;
        height: 83%;
      }
  
      h4 {
        color: grey;
        font-size: 1.3rem;
        font-weight: 200;
        margin-bottom: 10px;
  
        @media screen and (min-width: 1200px){
          font-size: 1.8rem;
        }
      }
      p {
        @media screen and (min-width: 1200px){
          font-size: 1.5rem;
        }
      }
      .email,
      .phone {
        @media screen and (max-height: 640px){
          display: none;
        }
      }
      .email .content p,
      .phone .content p {
        transition: 0.25s;
  
        &:hover {
          transform: translateX(5px);
        }
      }
      
      .address {
        position: relative;
  
        @media screen and (max-width: 540px){
         display: none;
        }
        .content {
          position: absolute;
          right: 10px;
        }
      }
      .phone {
        position: relative;
  
        @media screen and (max-width: 540px){
          text-align: center;
          font-size: .8rem;
          grid-area: b;
        }
  
        .content {
          position: absolute;
          align-items: center;
          width: 100%;

  
          @media screen and (max-width: 540px){
            position: relative;
            margin: 0 auto;
            left: 0;
            transform: translateX(0);
          }
        }
      }
      .email {
        @media screen and (max-width: 540px){
          grid-area: c;
          font-size: .8rem;
          text-align: center;
        }
      }
      .social-network {
        position: relative;
        width: 80%;
        margin: 0 auto;
  
        @media screen and (max-width: 740px){
          width: 50%;
          grid-area: d;
        }
        @media screen and (min-width: 1200px){
          font-size: 2rem;
        }
  
        .content {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .credits {
        text-align: center;
  
        @media screen and (max-width: 740px){
          transform: translateY(20px);
          font-size: .7rem;
          margin-right: 1rem;
          grid-area: f;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }