.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url("../../assets/img/now\ or\ never_1.jpg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  overflow: hidden;

  @media screen and (max-width: 650px){
    background-image: url("../../assets/img/0011.jpg");
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .sb-main {
   
    @media screen and (max-width: 650px){
      display: none;

    }
  }

  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 0.3rem;
    width: auto;
    height: 75%;
    overflow: hidden;


    .main-content {
      user-select: none;

      h1 {
        font-size: 3.7rem;
        position: relative;
        font-family: $font-2;
        color: $color-2;
        letter-spacing: 5px;

        @media screen and (max-width: 650px){
          font-size: 3rem;
          text-align: center;
          letter-spacing: 1px;
  
        }
        @media screen and (max-width: 350px){
          font-size: 2rem;
          text-align: center;
          letter-spacing: 1px;
  
        }
        @media screen and (min-width: 1200px){
          font-size: 5rem;
          text-align: center;
        }

      }

      h2 {
        font-size: 3rem;
        font-weight: 100;
        position: absolute;
        font-family: $font-2;

        @media screen and (max-width: 650px){
          font-size: 2rem;
          text-align: center;
        }
        @media screen and (max-width: 350px){
          font-size: 1.3rem;
          text-align: center;
          letter-spacing: 1px;
  
        }
        @media screen and (min-width: 1200px){
          font-size: 4rem;
          text-align: center;
        }
      }
    }
  }
}