* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 


.scrollbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  color: $color-2;
  font-size: 2rem;
  cursor: pointer;
}

span {
  color: $color-2 !important;
}

.project {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  background: none;
  //border-bottom: solid 1px white;

  .sec {
    position: relative;
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
    scroll-snap-align: center;
    //border-bottom: solid 1px white;
  }

  .navigation {
    top: 5px;
    left: 60%;
    font-size: 1.1rem;
    line-height: 20px;
    transform: translateY(-100%);
    animation: navProject 1s ease forwards;

    @media screen and (max-width: 650px){
      left: 70%;
    }
  
    @keyframes navProject {
      to {
        transform: translateY(0);
      }
    }

    &:before {
      left: -120px;
      top: -250px;
    }

    .nav-projects {
      transform: translateX(67px);
      padding: 0 20px;
    }
  }
  .logo {
    top: 8px;
    left: 5%;
    z-index: 2;
    color: $color-2;
   
    @media screen and (max-width: 650px){
      display: none;

    }
  }

  .sb-main {
   
    @media screen and (max-width: 650px){
      display: none;

    }
  }


  .logo:hover {
    color: grey;
  }

  .project-main {
    margin: 8rem 1rem 0;
    display: grid;
    grid-template-columns: 33% 67%;
    position: relative;
    text-align: right;

    @media screen and (max-width: 810px){
      grid-template-columns: 25% 75%;
    }
    @media screen and (max-width: 700px){
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
    }
    @media screen and (max-height: 600px){
      margin: 3rem 1rem 0;
    }

    .project-content {
      margin-right: 20px;
      
      @media screen and (max-width: 700px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 12px;
        font-family: $font-2;
        color: $color-2;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        transform-origin: 150%;

        @media screen and (max-width: 810px){
          font-size: 2rem;
        }
        @media screen and (max-width: 450px){
          font-size: 1.2rem;
        }

        @keyframes transformTitle {
          to {
            transform: scaleX(1);
          }
        }
      }
      p {
        margin-bottom: 30px;
        color: $color-3;
        font-size: 1.2rem;

        @media screen and (max-width: 700px){
          margin: 0;
        }
        @media screen and (max-width: 450px){
          font-size: .9rem;
        }
      }
    }
    .img-content {
      position: relative;
      text-align: left;
      margin-left: 10px;

      @media screen and (max-width: 700px){
        text-align: center;
        margin: 0 auto;
      }

      .img-container {
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(226, 222, 222, 0.26);
        width: 800px;
        height: 480px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 1840px){
          height: 400px;
          width: 700px;
        }
        @media screen and (max-width: 540px){
          height: 200px;
          width: 370px;
        }
        @media screen and (max-width: 400px){
          height: 150px;
          width: 280px
        }

        &:hover span,
        span:hover {
          visibility: visible;
          transform: translateY(0);
        }

        img {
          overflow: hidden;
          object-fit: cover;
          object-position: 0%;
          width: 100%;
          height: 100%;
          position: absolute;
          transition: 0.4s ease-out;
          position: relative;

          &:hover,
          span:hover img {
            transform: scale(1.2);
            filter: opacity(25%) contrast(150%);
          }
        }
        span {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          padding: 1rem;
          margin: 0 auto;
          color: grey;
          line-height: 34px;
          font-size: 1.5rem;
          visibility: hidden;
          transition: 0.5s ease;
          transform: translateY(200px);

          @media screen and (max-width: 650px){
            font-size: 0.7rem;
            line-height: 18px;
          }

          h3 {
            color: white;
          }
        }
      }
    }

  }
  .button-container {
    width: 130px;
    /*
    a {
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-1;
        background: none;
        border: solid 2px white;

        @media screen and (max-width: 410px){
          width: 100px;
          font-size: .85rem;
        }

        &:hover {
          background: rgba(73, 73, 73, 0.637);
          color: red;
          transition-duration: 0.8s;
        }

        &:hover:after {
            content: attr('jkjkvnj');
        }

        .button:hover:after {
          content: attr('jkjkvnj');
      }

      }*/

    .button {
      overflow: hidden;
      position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-1;
        background: none;
        border: solid 2px $color-2;
        transition-duration: 10s;
    }

    .button:hover::after {
      position: absolute;
      font-size: 1rem;
      background:$color-1;
      content: " Yes, " attr(id) "please !";
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-2;
      height: 56px;
      width: 126px;

      border: none;
      //border: solid 2px white;

    }
  }
}
